/* suvam css file for Eyecare=--- */

.Filter_Parents {
  justify-content: center;
  width: 100%;
  display: block;
}
.Filter_Brand_links {
  display: block;
  line-height: 2;
}
.Filter_Price_links {
  display: block;
  text-align: left;
  line-height: 2;
}
.Filter_Type_links {
  display: block;
  text-align: left;
  line-height: 2;
}
#Cart_Carousels {
  display: flex;
  position: absolute;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  top: 300px;
}
#Cart_Carousels_Image_Parents {
  width: 250px;
  margin: auto;
  line-height: 10px;
}
#Cart_Carousels_Image {
  height: 300px;
  background-repeat: no-repeat;
}

#Cart_Name {
  font-size: 12px;
  color: grey;
  align-self: left;
  font-weight: 500;
  line-height: 25px;
}
#Cart_Brand {
  align-self: left;
}

#Cart_Price {
  align-self: left;
  font-size: 25px;
}
#Cart_section{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
/* width: 70%; */
margin: auto;
border-radius: 3px;
}
#Cartitems_parents{
 line-height: 40px;
 border-bottom: 0.5px solid gray;
}
#Links_for_cart_loves{
color: rgb(47, 157, 225);
}